img{
  height: 203px;
  width: 209px;
  border-radius: 20px 0 0 0;
}
header{
  display: flex;
  align-items: center;
  height: 200px;
  background-color: cyan;
  border-radius: 20px;
  h1{
    /*color: green;*/
    color: purple;
    font-size: 70px;
    margin-left: 25%;
  }
}
