


<h1>Sélectionner une personne</h1>
<label for="personne">Choisir une personne :</label>
<select [(ngModel)]="selectedClient" (change)="onClientSelect()" id="personne">
<option *ngFor="let client of clients" [value]="client.id">{{client.nom}}</option>
</select>

<h2>Informations sur la personne sélectionnée :</h2>
<label for="nom">Nom :</label>
<input type="text" id="nom" disabled>
<br>
<label for="prenom">Prénom :</label>
<input type="text" id="prenom" disabled>
<br>
<label for="adresse">Adresse :</label>
<input type="text" id="adresse" disabled>
