.menu {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 10px 0;
}

.list_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
}

.list_menu_choice {
  margin: 0 15px;
  text-align: center;
  background-color: #03a0c1;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}

.list_menu_choice a {
  /*color: #333;*/
  color: rgb(107, 198, 0);
  text-decoration: none;
  display: block;
}

.list_menu_choice svg {
  /*fill: green;*/
  fill: rgb(107, 198, 0);
  margin-bottom: 5px;
}

.list_menu_choice:hover {
  background-color: rgba(132, 239, 118, 0.8);
}

.title_choice {
  margin: 5px 0 0;
}
