.footer {
  /*background-color: #a19999;*/
  background-color: #03a0c1;
  border-radius: 20px;
  color: #333;
  text-align: center;
  margin-top: 20px;
  padding: 20px 0;
  font-size: 16px;
}

.footer-content {
  max-width: 800px;
  margin: auto;
}

.footer-item {
  margin: 10px 0;
}
